@font-face {
    font-family: myfont;
    src: url('/fonts/WorkSans-VariableFont_wght.ttf');
 }
 * {
    font-family: myfont;
 } 
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox{
    width: 20rem;
    height: 25rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 32px;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
    width: 100%
}
img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 55px;
}
.my-input{
    width: 140%;
    height: 40px;
    border-bottom-color: rgb(192, 192, 192);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 20px 2px;
    margin-bottom: 30px;
}
.my-input::placeholder{
    color: rgb(192, 192, 192);
}
.login-button{
    width: 138%;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 10px 2px;
    margin-top: 30px;
    margin-bottom: 8rem;
    background-color: rgb(94, 172, 17);
    color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0px
}
.link{
    width: 165%;
    height: 0px;
    display: flex;
    justify-content: flex-start;
}
.form-text{
    color: rgb(192, 192, 192);  
    margin-right: 5px;
    font-size: small;
}
.form-link{
    color: rgb(94, 172, 17);
    cursor: pointer;
    font-size: small;  
}